{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": [
    "prettier",
    "@typescript-eslint"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": { "ecmaVersion": 2018, "sourceType": "module", "project": "./tsconfig.json" },
  "extends": [
    "airbnb-typescript",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "prefer-promise-reject-errors": ["off"],
    "no-param-reassign": [2, { "props":  false }],
    "no-nested-ternary": "off",
    "no-return-assign": ["off"],
    "prettier/prettier": "error",
    "indent": "off",
    "arrow-parens": ["off"],
    "camelcase": "off",
    "@typescript-eslint/camelcase": [
      "error",
      {
        "properties": "never",
        "genericType": "never",
        "ignoreDestructuring": true
      }
    ],
    "max-len": [
      "error",
      {
        "code": 120
      }
    ],
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "args": "none"
      }
    ],
    "@typescript-eslint/no-explicit-any": [
      "error",
      {
        "ignoreRestArgs": true
      }
    ]
  }
}
